body {

 }

th {
 text-transform: uppercase;
}

td {
 padding: 1rem;
}

.SYS, .PAR, .ACT {
 font-style: italic;
}

@media all and (max-width: 960px) {
 .mobile {
  display: block;
 }

 .desktop {
  display: none;
 }
}

.desktop {
 display: block;
}

.mobile {
 display: none;
}
